/* universal star sign */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* universal star sign ends */

/* body */
body {
    background-color: #d9dcd6;
}
/* body ends */

/* CSS for header and footer */
header, footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* CSS for header and footer ends */

/* header */
header {
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
}

header, h1 {
    display: inline-block;
    font-size: 48px;
}

#seo {
    color: #a8a8a6;
}

/* nav */
header, nav {
    padding-top: 20px;
    margin-right: 0;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header, nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* header ends */


/* hero */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* hero ends */

/* 'services' */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.images-to-left {
    float: left;
    margin-right: 25px;
}

.images-to-right {
    float: right;
    margin-left: 25px;
}

.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* 'services' images*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
/* 'services' ends */

/* 'benefits' */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

h3 {
    margin-bottom: 0px;
    text-align: center;
}

.benefits, p {
    margin-bottom: 30px;
}

/* 'benefits' graphics */
#lead-gen-graphic {
    display: block;
    margin: 10px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 150px;
    color: #ffffff;
}

#brand-awarness-graphic {
    display: block;
    margin: 10px auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 150px;
    color: #ffffff;
}

#cost-managment-graphic {
    display: block;
    margin: 10px auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 150px;
    color: #ffffff;
}
/* 'benefits' ends */

/* footer */
footer {
    clear: both;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

footer, h4 {
    font-size: 20px;
}
/* footer ends */